<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.atguigu.dao"/>

    <!--引入properties文件-->
    <context:property-placeholder location="classpath:database.properties"/>
    <!--spring配置数据源 引入database.property-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--配置sqlSessionFactory-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据源 必备-->
        <property name="dataSource" ref="dataSource"/>
        <!--引入mysql配置文件 就是config文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--引入dao层的mapper映射文件-->
        <property name="mapperLocations" value="classpath:com/atguigu/dao/*.xml"/>
        <!--开启别名-->
        <property name="typeAliasesPackage" value="com.atguigu.bean"/>
    </bean>
    <!--配置mapping 自动扫描 生成映射器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.atguigu.dao"/>
    </bean>


</beans>